.table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 490px;
}

.table tr:last-child {
  border-bottom: solid 1px #ddd;
}

.table th {
  text-align: center;
  padding: 7px 0;
  border-right: solid 1px #ddd;
  border-left: solid 1px #ddd;
  width: 155px;
}

.table th:nth-child(1) {
  background-color: #ddd;
  color: #303030;
}

.table th:nth-child(2) {
  background-color: #ddd;
  color: #303030;
}

.table tr:nth-child(1) td {
  font-size: 12px;
}

.table tr:nth-child(2) td {
  font-size: 12px;
}

.table td {
  text-align: center;
  padding: 7px 0;
  border-right: solid 1px #ddd;
  border-left: solid 1px #ddd;
  width: 155px;
}
